@model ASPMaster.Models.Produit
@RenderPage("../Shared/_Admin.cshtml")
@{
    ViewBag.Title = "Details";
}

<h1>Details de produit : @Html.DisplayFor(model => model.Nom)</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAjout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAjout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategorieId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategorieId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantite)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProduitId }) |
    @Html.ActionLink("<< Retour", "Lister")
</p>
