
@{
    ViewBag.Title = "AjouterProduit";
}

<script src="~/Scripts/jquery-1.10.2.min.js"
        type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".PlusProduit").click(function () {
            // Get the id from the link
            var recordtoupdate = $(this).attr("data-id");
            if (recordtoupdate != '') {
                // Perform the ajax post
                $.post("/Panier/PlusProduit", { "id": recordtoupdate },
                    function (data) {

                        if (data.ct == "1") {

                            $('#totalapayer').text(data.Total);
                            $("#quantite_" + recordtoupdate).text(data.Quatite);
                            $("#total_" + recordtoupdate).text(data.TotalRow);

                        }
                            

                    });
            }
        });

        // Document.ready -> link up remove event handler
        $(".MinusProduit").click(function () {
            // Get the id from the link
            var recordtoupdate = $(this).attr("data-id");
            if (recordtoupdate != '') {
                // Perform the ajax post
                $.post("/Panier/MoinsProduit", { "id": recordtoupdate },
                    function (data) {

                        if (data.ct == "1") {

                            $('#totalapayer').text(data.Total);
                            $("#quantite_" + recordtoupdate).text(data.Quatite);
                            $("#total_" + recordtoupdate).text(data.TotalRow);

                        }
                        else if (data.ct == "0") {
                            $("#row-" + recordtoupdate).fadeOut('slow');
                        }

                    });
            }
        });

        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordtoupdate = $(this).attr("data-id");
            if (recordtoupdate != '') {
                // Perform the ajax post
                $.post("/Panier/SupprimerProduit", { "id": recordtoupdate },
                    function (data) {

                            $("#row-" + recordtoupdate).fadeOut('slow');
                            $('#totalapayer').text(data.Total);
                        
                    });
            }
        });


    });
</script>




<h2>Mon panier</h2>

<div>
 @if (ViewBag.Liste.Count > 0) { 
    <table>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Qualité
            </th>
            <th>
                Prix total
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in ViewBag.Liste)
        {
            <tr id="row-@item.Prod.ProduitId">
                <td>
                    @item.Prod.Nom
                </td>
                <td>
                    <div id="quantite_@item.Prod.ProduitId">
                        @item.quantite
                    </div>
                    <a href="#" class="PlusProduit" data-id="@item.Prod.ProduitId">
                            [+]
                    </a>
                    <a href="#" class="MinusProduit" data-id="@item.Prod.ProduitId">
                            [-]
                    </a>

                </td>
                <td>
                    <div id="total_@item.Prod.ProduitId">
                        @item.TotalPrice
                    </div>
                   
                </td>
                <td>
                    <a href="#" class="RemoveLink" data-id="@item.Prod.ProduitId">
                        Supprimer
                    </a>
                </td>
            </tr>
        }

    </table>

    <div>
        <strong>Prix total à payer : </strong>
         <div id="totalapayer">@ViewBag.total</div> 
    </div>
    @(ViewBag.total > 0)
    {
        <p class="button">
            @Html.ActionLink("Checkout", "Checkout", "Panier")
        </p>
        
    }
    
 }
 else{
        <p>Votre panier est vide</p>
    }
</div>








