@model ASPMaster.Models.Categorie
@RenderPage("../Shared/_Admin.cshtml")
@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer Catégorie : </h2>

<h5>Êtes-vous sûr de vouloir supprimer ce catégorie : @Html.DisplayFor(model => model.Nom) ?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("<< Retour", "Index")
        </div>
    }
</div>
